$font-family-box: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
$background-color-base: blue;
$background-color-important: darken($background-color-base, 30%);
$background-color-warning: lighten($background-color-base, 40%);
$font-family-principal: "Times New Roman", Times, serif;
$font-family-secondary: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$shadow-box: 10px 10px 15px black;
$border-radius: 5px;
