* {
  margin: 10;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 200px auto;
  grid-column-gap: 20px;
  align-items: center;
}

.avatar {
  width: 200px;
  height: 200px;
}

.info {
  display: flex;
  flex-direction: column;
}

.info p {
  margin: 5px 0;
}
